section.autobonus
	.violet-block
	.grid.grid-auto
		h2.block-title.autobonus__title
			| Лояльная автопрограмма<br>для партнеров
		.autobonus-description
			span
				| Получи возможность ездить на новом автомобиле, рекомендуя качественную продукцию компании «StarLife».<br><br>
			span
				| Компания предоставляет уникальные условия для владельцев авто:
			ul
				li
					| Бесплатное авто-страхование «КАСКО».
				li
					| Бесплатное техническое обслуживание автомобиля на протяжении всего периода аренды.
				li
					| Оплата налогов и государственных пошлин за счет компании.
			a(href="#").btn.btn-autobonus
				| Презентация<br>автобонуса

