.header
	.grid.grid--header
		.header-box1
			a(href="#").logo
				| STA<span>R</span>LIFE
			ul.menu
				li.menu__item
					a(href="#").menu__link
						| Главная
				li.menu__item
					a(href="#").menu__link
						| Продукция
				li.menu__item
					a(href="#").menu__link
						| Пакеты
				li.menu__item
					a(href="#").menu__link
						| Бонус
				li.menu__item
					a(href="#").menu__link
						| О нас
				li.menu__item
					a(href="#").menu__link
						| Контакты
		.header-box2
			a(href="#").callback
				| Заказать<br>обратный звонок
			a(href="#").btn.btn-callback
				| Позвонить<br>менеджеру
