section.main#main
	.grid.grid--main
		.pictures-box
			h1.main-title
				| STARLIFE
			.girl-pic
				img(src="images/sprites/png/girl.png").girl-pic__img
		.main-desc
			.logo-pic
				img(src="images/sprites/png/title.png").logo-pic__img
			h2.block-title.main-desc__title
				| Теперь и в&nbsp;
				span
					| РОССИИ!
			p.main-desc__par
				| Получи возможность приобретать товары европейского качества для здорового образа жизни с большими скидками или начни свой бизнес уже сегодня.
			a(href="#").main-desc__btn
				| Стать партнером
			a(href="#").main-desc__video
				| Посмотреть<br>видео-презентацию
			.info-text
				| Более 500 000 партнеров и покупателей по всему миру.

	.map-box
		include ../map/map.html

