section.main#main
	.grid.grid--main
		.pictures-box
			h1.main-title
				| STARLIFE
			.logo-pic
				img(src="").logo-pic__img
			.girl-pic
				img(src="images/girl.png").girl-pic__img
		.main-desc
			h2.block-title.main-desc__title
				| Теперь и в&nbsp;
				span
					| РОССИИ!
			p.main-desc__par
				| Международная компания с опытом работы более 18 лет на рынке Европы. Получи возможность приобретать товары для здорового образа жизни с большими скидками или начни свой бизнес уже сегодня.
			a(href="#").main-desc__btn
				| Стать партнером
			a(href="#").main-desc__video
				| Посмотреть<br>видео-презентацию
			.info-text
				| Более 500 000 партнеров<br>и покупателей по всему миру.
		.map-box
			include ../map/map.html

